<html>
  <head>
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Hangman Game</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Score Board</a></li>
            <li><div id = "dialog-1" title = "About"><p *ngFor="let about of about | async">{{about.$value}}</p></div>
              <a id = "opener">About</a></li>
          </ul>
        </div>
     </div>
   </nav>
<my-game></my-game>
</body>
</html>